<div class="navbar">
   <div class="navbar-inner">
      <div class="container">
         <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav">
               <li><a href="#/view_dashboard">Dashboard</a></li>
               <li>
                  <p></p>
                  /
               </li>
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     {{ DomainService.currentDomain() }}
                     <l class="icon-chevron-down"></l>
                  </a>
                  <ul class="dropdown-menu" >
                     <li class="nav-header">Domains</li>
                     <li class="divider"></li>
                     <li ><a href="" ng-click="DomainService.setCurrenDomain('all Domains')"><img src="img/widget/domain_ico.png" alt="ico"/> all Domains</a></li>
                     <li ng-repeat="domain in DomainService.getDomainList()"><a href="" ng-click="DomainService.setCurrenDomain(domain.name)"><img src="img/widget/domain_ico.png" alt="ico"/> {{ domain.name }}</a></li>
                  </ul>
               </li>
               <li>
                  <p></p>
                  /
               </li>
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     {{ Page.title() }} 
                     <l class="icon-chevron-down"></l>
                  </a>
                  <ul class="dropdown-menu">
                     <li class="nav-header">Domain Widgets</li>
                     <li class="divider"></li>
                     <li><a href="#/view_account"><img src="img/widget/account_ico.png" alt="ico"/> Account</a></li>
                     <li><a href="#/view_alias"><img src="img/widget/alias_ico.png" alt="ico"/> Alias</a></li>
                     <li class="nav-header">Server Widgets</li>
                     <li class="divider"></li>
                     <li><a href="#/view_domain"><img src="img/widget/domain_ico.png" alt="ico"/> Domain</a></li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>