<div class="well well-large">	
	
	<div ng-include="'partials/partial_navbar_dash.html'"></div>
	<p></p>
	
	<h5>Domain Widgets <img src="img/widget/widget_min.png" /></h5>
	<div class="well well-large">
			<a href="#/view_account" class="btn tooltipnew" style="width:75px">
				<h6>Account</h6><img src="img/widget/account_big.png" />
				<span>
					<img class="callout" src="img/callout_black.gif" />
					Here you can create and edit Accounts <img src="img/widget/account_ico.png" />
				</span>
			</a>		
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#/view_alias" class="btn tooltipnew" style="width:75px">
				<h6>Alias</h6><img src="img/widget/alias_big.png" />
				<span>
					<img class="callout" src="img/callout_black.gif" />
					Here you can create and edit Alias <img src="img/widget/alias_ico.png" />
				</span>
			</a>							
	</div>
	
	<h5>Server Widgets <img src="img/widget/widget_min.png" /></h5>
	<div class="well well-large">
			<a href="#/view_domain" class="btn tooltipnew" style="width:75px">
				<h6>Domain</h6><img src="img/widget/domain_big.png" />
				<span>
					<img class="callout" src="img/callout_black.gif" />
					Here you can create and edit Domain <img src="img/widget/domain_ico.png" alt="ico"/>
				</span>
			</a>					
	</div>	

</div>