<div class="well well-large" ng-controller="DomainCtrl" ng-cloak  ng-init="init()">
   <div ng-include="'partials/partial_navbar.html'"></div>
   <p></p>
   <!-- list -->
   <div class="bs-docs-example">
      <div class="accordion" id="accordion2">
         <div class="accordion-group">
            <div class="accordion-heading">
               <a href="" class="accordion-toggle" ng-click="initCreate()">
                  <h5 class="h5new"><img src="img/widget/domain_ico.png" alt="ico"/> New</h5>
               </a>
            </div>
         </div>
         <div class="accordion-group">
            <div class="accordion-heading">
               <a class="accordion-toggle" href="">
                  <h5 class="h5show"><img src="img/widget/list_ico.png" alt="ico"/> List</h5>
               </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse in">
               <div class="accordion-inner">
                  <table class="table table-bordered table-striped table-hover">
                     <thead>
                        <tr>
                           <th>Domain</th>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="domain in DomainService.getDomainListFiltered()">
                           <td>{{ domain.name }}</td>
                           <td style="width:100px">
                              <button class="btn btn-warning" ng-click="initEdit(domain)"><i class="icon-edit icon-white"></i></button>
                              &nbsp;&nbsp;
                              <button class="btn btn-danger" ng-click="initRemove(domain)"><i class="icon-trash icon-white"></i></button>                              
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end list -->
   <!-- create -->
   <div modal="createIsVisible" close="closeCreate()" options="opts">
      <form name='form'>
         <div class="modal-header">
            <button type="button" class="close" ng-click="closeCreate()">&times;</button>
            <h3>Create Domain</h3>
         </div>
         <div class="modal-body">
            <div class="control-group">
               <div class="controls">
                  <label class="control-label" for="domain"> Domain: <img src="img/widget/domain_ico.png" alt="ico"/>            
                  <input type="text" required name="domain" id="domain" ng-model="createDomain.name" focus="{{createIsVisible}}" placeholder="domain">
                  </label>                   
               </div>
            </div>
         </div>
         <div class="modal-footer">                 
            <button class="btn btn-success" ng-click="create(createDomain)" ng-disabled='!form.$valid'>Save <i class="icon-ok icon-white"></i></button>
            <button class="btn" ng-click="closeCreate()">Cancel</button>         
         </div>
      </form>
   </div>
   <!-- end create -->
   <!-- edit -->
   <div modal="editIsVisible" close="closeEdit()" options="opts">
      <form name='form'>
         <div class="modal-header">
            <button type="button" class="close" ng-click="closeEdit()">&times;</button>
            <h3>Edit Domain</h3>
         </div>
         <div class="modal-body">
            <div class="control-group">
               <div class="controls">
                  <label class="control-label" for="domain"> Domain: <img src="img/widget/domain_ico.png" alt="ico"/>            
                  <input type="text" required name="domain" id="domain" ng-model="editDomain.name" focus="{{editIsVisible}}" value="{{editDomain.oldName}}">
                  </label>                   
               </div>
            </div>
         </div>
         <div class="modal-footer">            
            <button class="btn btn-success" ng-click="edit(editDomain)" ng-disabled='!form.$valid'>Save <i class="icon-ok icon-white"></i></button>
            <button class="btn" ng-click="closeEdit()">Cancel</button>         
         </div>
      </form>
   </div>
   <!-- end edit -->   
   <!-- remove -->   
   <div modal="removeIsVisible" close="closeRemove()" options="opts">
      <div class="modal-header">
         <button type="button" class="close" ng-click="closeRemove()">&times;</button>
         <h3>Delete Domain</h3>
      </div>
      <div class="modal-body">
         <p ng-model="removeDomain">Are you sure you want to delete the domain: {{removeDomain.name}}?</p>
      </div>
      <div class="modal-footer">         
         <button class="btn btn-danger" ng-click="remove(removeDomain)">Delete <i class="icon-trash icon-white"></i></button> 
         <button class="btn" ng-click="closeRemove()">Cancel</button>
      </div>
   </div>
   <!-- end remove -->

   <!-- CSS-Hack Background -->
   <div ng-show="createIsVisible || editIsVisible || removeIsVisible" class="modal-backdrop"></div>   
</div>