<div class="well well-large" ng-controller="AliasCtrl" ng-cloak  ng-init="init()">
   <div ng-include="'partials/partial_navbar.html'"></div>
   <p></p>
   <!-- list -->
   <div class="bs-docs-example">
      <div class="alert" ng-show="DomainService.allDomainsSelected()">Please select a domain!</div>
      <div class="accordion" id="accordion2" ng-show="!DomainService.allDomainsSelected()">
         <div class="accordion-group">
            <div class="accordion-heading">
               <a href="" class="accordion-toggle" ng-click="initCreate()">
                  <h5 class="h5new"><img src="img/widget/account_ico.png" alt="ico"/> New</h5>
               </a>
            </div>
         </div>
         <div class="accordion-group">
            <div class="accordion-heading">
               <a class="accordion-toggle" href="">
                  <h5 class="h5show"><img src="img/widget/list_ico.png" alt="ico"/> List</h5>
               </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse in">
               <div class="accordion-inner">                  
                  <table class="table table-bordered table-striped table-hover">                                    
                     <thead>
                        <tr>                           
                           <th>Alias</th>
                           <th>Destination</th>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody>                                         	
                        <tr ng-repeat="alias in AliasService.getAliasList()">
                        	<td>{{ alias.source }}@{{ DomainService.currentDomain() }}</td>
                           <td>{{ alias.destination }}@{{ DomainService.currentDomain() }}</td>
                           <td style="width:100px">
                              <button class="btn btn-warning" ng-click="initEdit(alias)"><i class="icon-edit icon-white"></i></button>
                              &nbsp;&nbsp;
                              <button class="btn btn-danger" ng-click="initRemove(alias)"><i class="icon-trash icon-white"></i></button>                              
                           </td>                      
                        </tr>                    
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end list -->
   <!-- create -->
   <div modal="createIsVisible" close="closeCreate()" options="opts" >      
      <form name='form' autocomplete='off'>
         <div class="modal-header">
            <button type="button" class="close" ng-click="closeCreate()">&times;</button>
            <h3>Create Alias</h3>
         </div>
         <div class="modal-body">
            <!-- Domain -->
            <div class="control-group">
               <label class="control-label" for="domain">Domain: <img src="img/widget/domain_ico.png" alt="ico"/></label>
               <div class="controls">
                  <input type="text" name="domain" id="domain" readonly value="{{DomainService.currentDomain()}}" />                                 
               </div>
            </div>
            <!-- end Domain -->
            <!-- Alias -->
            <div class="control-group">
               <label class="control-label" for="alias">Alias: <img src="img/widget/account_ico.png" alt="ico"/></label>
               <div class="controls">               
                  <input type="text" required name="alias" id="alias" ng-model="createAlias.source" focus="{{createIsVisible}}" placeholder="alias">                  
               </div>
            </div>
            <!-- end Alias -->
			<!-- Destination -->
			<div class="control-group">
				<label class="control-label" for="destination">Destination: <img src="img/widget/account_ico.png" alt="ico"/></label>
				<div class="controls">					
					<select required name="destination" id="destination" ng-model="createAlias.destination">
						<option ng-repeat="account in AccountService.getAccountList()">{{account.name}}</option>						
					</select>													
				</div>
			</div>			
			<!-- end Destination -->  
         </div>
         <div class="modal-footer">            
            <button class="btn btn-success" ng-click="create(createAlias)" ng-disabled='!form.$valid'>Save <i class="icon-ok icon-white"></i></button>
            <button class="btn" ng-click="closeCreate()">Cancel</button>         
         </div>
      </form>
   </div>    
   <!-- end create -->
   <!-- edit -->
   <div modal="editIsVisible" close="closeEdit()" options="opts">
      <form name='form' autocomplete='off'>
         <div class="modal-header">
            <button type="button" class="close" ng-click="closeEdit()">&times;</button>
            <h3>Edit Alias</h3>
         </div>
         <div class="modal-body">
            <!-- Domain -->
            <div class="control-group">
               <label class="control-label" for="domain">Domain: <img src="img/widget/domain_ico.png" alt="ico"/></label>
               <div class="controls">
                  <input type="text" name="domain" id="domain" readonly value="{{editAlias.domain}}" />                                 
               </div>
            </div>
            <!-- end Domain -->
            <!-- Alias -->
            <div class="control-group">
               <label class="control-label" for="alias">Alias: <img src="img/widget/account_ico.png" alt="ico"/></label>
               <div class="controls">               
                  <input type="text" required name="alias" id="alias" ng-model="editAlias.source" focus="{{editIsVisible}}" placeholder="alias">                  
               </div>
            </div>
            <!-- end Alias -->
			<!-- Destination -->
			<div class="control-group">
				<label class="control-label" for="destination">Destination: <img src="img/widget/account_ico.png" alt="ico"/></label>
				<div class="controls">					
					<select required name="destination" id="destination" ng-model="editAlias.destination" value="{{editAlias.destination}}">
						<option ng-repeat="account in AccountService.getAccountList()">{{account.name}}</option>						
					</select>													
				</div>
			</div>			
			<!-- end Destination -->  
         </div>
         <div class="modal-footer">            
            <button class="btn btn-success" ng-click="edit(editAlias)" ng-disabled='!form.$valid'>Save <i class="icon-ok icon-white"></i></button>
            <button class="btn" ng-click="closeEdit()">Cancel</button>         
         </div>
      </form>
   </div>
   <!-- end edit -->   
   <!-- remove -->   
   <div modal="removeIsVisible" close="closeRemove()" options="opts">
      <div class="modal-header">
         <button type="button" class="close" ng-click="closeRemove()">&times;</button>
         <h3>Delete Alias</h3>
      </div>
      <div class="modal-body">
         <p ng-model="removeAlias">Are you sure you want to delete the alias: {{removeAlias.source}}?</p>
      </div>
      <div class="modal-footer">         
         <button class="btn btn-danger" ng-click="remove(removeAlias)">Delete <i class="icon-trash icon-white"></i></button>   
         <button class="btn" ng-click="closeRemove()">Cancel</button>
      </div>
   </div>
   <!-- end remove -->
   <!-- select domain -->   
   <div modal="selectDomainIsVisible" options="opts">
      <form name='form'>
         <div class="modal-header">
            <a href="#/view_dashboard" class="close">&times;</a>
            <h3>Please select a Domain</h3>
         </div>
         <div class="modal-body">
            <div class="control-group">
               <div class="controls">                        
                  <label class="control-label" for="destination">Domain: <img src="img/widget/domain_ico.png" alt="ico"/>            
                  <select required name="domain" id="domain" ng-model="selectDomain.name" value="">
                     <option ng-repeat="domain in DomainService.getDomainList()">{{domain.name}}</option>
                  </select>                                       
                  </label>
               </div>
            </div>
         </div>
         <div class="modal-footer">                 
            <button class="btn btn-success" ng-click="selectDomain_(selectDomain)" ng-disabled='!form.$valid'>Select <i class="icon-ok icon-white"></i></button>
            <a href="#/view_dashboard" class="btn">Cancel</a>         
         </div>
      </form>
   </div>
   <!-- end select domain -->  
   <!-- CSS-Hack Background -->
   <div ng-show="createIsVisible || editIsVisible || removeIsVisible || selectDomainIsVisible" class="modal-backdrop"></div>
</div>